.c-section{
    height: 100%;
   
    &__s1{
        background-color: $main-color;
        
        &__container1{
              width: 100%;
              height: pxArem(270);
              border-radius: pxArem(9);
              background-image: url('../assets/img/slipknot3.jpg');
              background-size: 100% pxArem(300);
              background-repeat: no-repeat;
              display: grid;
              grid-template-columns: 50% 1fr;
              grid-template-rows:1fr 1fr;
              
              
              
                .subcontainer1{
                
                
                @include paddingElemLEFTscreen();

                box-icon[name="chevron-left"]{
                    background-color: #4D545A;
                    border-radius: 50%;
                    opacity: 0.8;
                    @include movilS(){
                        width: pxArem(20);
                        height: pxArem(20);
                    }
                }
                box-icon[name="chevron-left"]:hover{
                    opacity: 0.9;
                    cursor: pointer;
                }
                box-icon[name="chevron-right"]{
                    background-color: #4D545A;
                    border-radius: 50%;
                    opacity: 0.8;
                    @include movilS(){
                        width: pxArem(20);
                        height: pxArem(20);
                        
                    }
                }
                box-icon[name="chevron-right"]:hover{
                    opacity: 0.9;
                    cursor: pointer;
                }
                @include movilS(){
                    padding: 0;
                    position: relative;
                    top: pxArem(4);
                    left: pxArem(3);
                }
                }

                .subcontainer2{
                   
                    height: pxArem(27);
                    @include paddingElemRIGHTscreen();
                    @include flexbox(row);
                    justify-content: flex-end;
                    gap: pxArem(9);
                
            
                    &__container1{
                    @include flexbox(row);
                    align-items: center;
                    gap: pxArem(3);
                    color: white;
                    @extend %fontSize;
                    background-color: #4D545A;
                    border-radius: pxArem(12);
                    padding: 0 pxArem(10);
                    opacity: 0.8;

                    #download{
                        width: pxArem(18);
                        height: pxArem(18);
                        @include movilS(){
                            width: pxArem(15);
                            height: pxArem(15);
                        }
                    }

                    #sc2c1p{
                        @include movilS(){
                            display: none;
                        }
                    }
                    @include movilS(){
                        font-size: 0.48rem;
                        padding: 0;
                        border-radius: 50%;
                        background-color: transparent;
                        
                    }
                    }

                    &__container1:hover{
                        opacity: 0.9;
                        color: white;
                        cursor: pointer;
                    }

                    &__container2{
                        @include flexbox(row);
                        align-items: center;
                        gap: pxArem(9);


                        #bell{
                            background-color:#4D545A;
                            border-radius: 50%;
                            opacity: 0.8;
                            border: pxArem(3) solid #4D545A ;
                            width: pxArem(27);
                            height: pxArem(27);
                            @include movilS(){
                                width: pxArem(15);
                                height: pxArem(15);
                                background-color: transparent;
                                border: none;
                            }
                        }

                        #bell:hover{
                            opacity: 0.9;
                            cursor: pointer;
                        }

                        img{
                            width: pxArem(21);
                            height: pxArem(21);
                            border-radius: 50%;
                            
                            border: pxArem(3) solid #4D545A;
                            @include movilS(){
                                border: none;
                            }
                        }

                        img:hover{
                            opacity: 0.9;
                            cursor: pointer;
                        }
                    }
                    @include movilS(){
                        padding: 0;
                        gap: 0;
                        justify-content: space-around;
                    }
                }

                
                .subcontainer3{
                    color: white;
                    &__container1{
                        @include flexbox(row);
                        align-items: center;
                        gap: pxArem(3);
                        font-size: clamp(0.3rem, 1vw, 0.7rem);
                        @include paddingElemLEFTscreen();
                        #badgeCheck{
                            @include movilS(){
                                width: pxArem(15);
                                height: pxArem(15);
                            }
                        }
                        #sc3c1p{
                            @include movilS(){
                                font-size: 0.6rem;
                            }
                        }
                        @include movilS(){
                            position: relative;
                            top: pxArem(6)
                        }
                    }
                    #sc3h1{
                        font-size: pxArem(88);
                        @include paddingElemLEFTscreen();
                        margin: 0;
                        @include movilS(){
                            font-size: 2.4rem;
                        }
                    }
                    #sc3h5{
                        @include paddingElemLEFTscreen();
                        margin: 0 0 pxArem(18) 0;
                        @include movilS(){
                            font-size: 0.63rem;
                        }  
                    }
                }

              @include movilS(){
                height: pxArem(191.39);
              }  
                
            
        }
        
    }

    &__s2{
        height: pxArem(300); /*corregir y fusionar seccion central con reproductor y hacer lo mismo con las otras*/
        background: linear-gradient( #314051, #121212 15%);
       
        
        &__container1{
            @include flexbox(row);
            align-items: center;
            gap: pxArem(39);
            @include paddingElemLEFTscreen();
            padding: pxArem(15) 0 0 pxArem(18);
            #pauseBtn{
                width: pxArem(33);
                height: pxArem(33);
                padding: pxArem(3);
                background-color: #1ED760;
                border-radius: 50%;
                @include movilS(){
                    width: pxArem(24);
                    height: pxArem(24);
                }
            }
            #s2c1p{
                border: pxArem(1) solid white;
                padding: pxArem(9);
                color: white;
                border-radius: pxArem(15);
                @extend %fontSize;
                font-weight: bold;
                @include movilS(){
                    padding: pxArem(6);
                }
            }
            @include movilS(){
                position: relative;
                top: pxArem(6);
                justify-content: space-around;
                gap: pxArem(6);
                padding: 0;
            }
            
        }
        
        &__container2{
            #s2c2h4{
                color: white;
                margin: pxArem(21) 0 pxArem(18) pxArem(21);
                font-weight: 600;
                @include movilS(){
                    margin: pxArem(15) 0 pxArem(9) pxArem(15);
                    font-size: 0.7rem;
                    font-weight: bold;
                }
            }
        }

        &__container3{
            color: white;
            
            .song{
                
             
                width: 90%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 5% 5% 50% 30% 10%;
                align-items: center;
                padding: pxArem(6);
                #barchart{
                    width: pxArem(18);
                    height: pxArem(18);
                }
                img{
                    width: pxArem(21);
                    height: pxArem(21);
                    border-radius: pxArem(3); 
                }
                p{
                    @extend %fontSize;
                    font-weight: bold;
                    padding-left: pxArem(6);
                    
                }
                .reproductions{
                    @include movilS(){
                        display: none;
                    }
                }
               &__container{
                @include flexbox(row);
                align-items: center;
                justify-content: space-between;
                position: relative;
                right: pxArem(33);
                #songheart{
                    margin-right: pxArem(9);
                    padding: pxArem(1);
                  
                    width: pxArem(18);
                    @include movilS(){
                        margin: 0;
                        padding: 0;
                        width: pxArem(15);
                    }
                }
            
               
                @include movilS(){
                    flex-direction: row-reverse;
                    width: 100%;
                    right: 0;
                }
               }
               @include movilS(){
                grid-template-columns: 10% 10% 50% 25% 5%;
                column-gap: pxArem(3);
                padding: pxArem(3);
                
               }
            }
            
        }
    }
    
}