.d-section{
    background-color: $main-color;
 
   
    display: grid;
    grid-template-columns: 1fr 50% 1fr;;

    &__container1{
        @include flexbox(row);
        justify-content: flex-start;
        align-items: center;
        padding: 0 0 0 pxArem(27);
        gap: pxArem(18);
        img{
           
            width: pxArem(27);
            height: pxArem(27);
            @include movilS(){
                width: pxArem(33);
                height: pxArem(33);
             }
             @include movilM(){
                width: pxArem(33);
                height: pxArem(33);
             }
             @include movilL(){
                width: pxArem(33);
                height: pxArem(33);
             }
             @include tablet(){
                width: pxArem(33);
                height: pxArem(33);
             }
             @include laptop1024(){
                width: pxArem(33);
                height: pxArem(33);
             }
        }
        &__subcontainer{
            color: white;
            @include flexbox(column);
           
            #c1scp1{
                
                font-size: clamp(0.7rem, 1vw, 0.8rem);

            }
            #c1scp2{
                font-size: clamp(0.5rem, 1vw, 0.6rem);
                
                
                
            }
            @include movilS(){
                width: 100%;
            }
            @include movilM(){
                width: 100%;
            }
            @include movilL(){
                width: 100%;
            }
            @include tablet(){
                width: 100%;
            }
            @include laptop1024(){
                width: 100%;
            }
        }
        img{
            width: pxArem(15);
            
            @include movilS(){
                width: pxArem(21);
                margin-right: pxArem(15);
            }
            @include movilM(){
                width: pxArem(21);
                margin-right: pxArem(15);
            }
            @include movilL(){
                width: pxArem(21);
                margin-right: pxArem(15);
            }
            @include tablet(){
                width: pxArem(21);
                margin-right: pxArem(15);
            }
            @include laptop1024(){
                width: pxArem(21);
                margin-right: pxArem(15);
            }
        }
        @include movilS(){
            padding: 0 0 0 pxArem(15);
            gap: pxArem(9);
        }
        @include movilM(){  
            padding: 0 0 0 pxArem(15);
            gap: pxArem(9);
        }
        @include movilL(){  
            padding: 0 0 0 pxArem(15);
            gap: pxArem(9);
        }
        @include tablet(){  
            padding: 0 0 0 pxArem(15);
            gap: pxArem(9);
        }
        @include laptop1024(){  
            padding: 0 0 0 pxArem(15);
            gap: pxArem(9);
        }
    }

    &__container2{
        &__subcontainer1{
            @include flexbox(row);
            justify-content: center;
            align-items: center;
            gap: pxArem(18);
            padding: pxArem(6);
            
            width: 30%;
            margin: 0 auto;

            img[alt="shuffle"]{
                width: pxArem(15);
                height: pxArem(15);
            }
            
            #previous{
                width: pxArem(30);
                height: pxArem(30);
            }

            #pausebutton{
                background-color: white;
                border-radius: 50%;
                width: pxArem(27);
                height: pxArem(27);
            }

            #next{
                width: pxArem(30);
                height: pxArem(30);
            }
            img[alt="repeat"]{
                width: pxArem(15);
                height: pxArem(15);
            }
            @include movilS(){
                width: 100%;
                padding: 0;
            }
            @include movilM(){
                width: 100%;
                padding: 0;
            }
            @include movilL(){
                width: 100%;
                padding: 0;
            }
            @include tablet(){
                width: 100%;
                padding: 0;
            }
            @include laptop1024(){
                width: 100%;
                padding: 0;
            }
        }

        &__subcontainer2{
            position: relative;
            bottom: pxArem(6);
            
            width: 80%;
            height: pxArem(20);
            margin: 0 auto;
            @include flexbox(row);
            justify-content: center;
            align-items: center;
            gap: pxArem(6);
            color: white;
            #current{
                @extend %fontSize;
            }
            #progress-bar{
                width: 90%;
                height: pxArem(3);
                background-color: #4E4E4E;
                border-radius: pxArem(3);
                #currentprogress{
                    width: 14.28%;
                    height: pxArem(3);
                    background-color: white;
                }
            }
            #total{
                @extend %fontSize;
            }
            @include movilS(){
                bottom: 0;
                width: 100%;
                padding: 0 pxArem(9);
            }
            @include movilM(){
                bottom: 0;
                width: 100%;
                padding: 0 pxArem(9);
            }
            @include movilL(){
                bottom: 0;
                width: 100%;
                padding: 0 pxArem(9);
            }
        }
    }

    &__container3{
       
        @include flexbox(row);
        justify-content: flex-end;
        align-items: center;
        gap: pxArem(9);
        position: relative;
        right: pxArem(9);
        img{
            width: pxArem(18);
        }
        #volumebar{
            width: 30%;
            height: pxArem(3);
            background-color: white;
            border-radius: pxArem(3);
        }
        @include movilS(){
            @include flexbox(row);
            justify-content: center;
            padding: 0;
            right: 0;
        }
        @include movilM(){
            @include flexbox(row);
            justify-content: center;
            padding: 0;
            right: 0;
        }
        @include movilL(){
            @include flexbox(row);
            justify-content: center;
            padding: 0;
            right: 0;
        }
    }
    @include movilS(){
        @include flexbox(column);
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    @include movilM(){
        @include flexbox(column);
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }
    @include movilL(){
        @include flexbox(column);
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }
    @include tablet(){
        height: 10vh;
        align-items: center;
    }
    @include laptop1024(){
        height: 10vh;
        align-items: center;
    }
}