

.l-section{
    background-color: $main-color;
    @include flexbox(column);
    height: auto;
    &__s1{
      background-color: $secondary-color;
      border-radius: pxArem(12);
      font-size: clamp(0.65rem, 1vw, 0.7rem);
      font-weight: 600;
      color: white;
      width: 97%;
      margin: 0 auto;
      padding: pxArem(12);
      @include flexbox(column);
      

      &__container1{
        @include flexbox(row);
        justify-content: flex-start;
        align-items: center;
        gap: pxArem(15);
        padding: pxArem(3) 0 pxArem(2) pxArem(15);
        #homeIcon{
          width: pxArem(18);
          color: white;
        }
        @include movilS(){
          gap: pxArem(9);
        }
        @include movilM(){
          gap: pxArem(9);
        }
        @include movilL(){
          gap: pxArem(9);
        }
        @include tablet(){
          gap: pxArem(9);
        }
        @include laptop1024(){
          gap: pxArem(9);
        }
      }
      &__container2{
        @include flexbox(row);
        justify-content: flex-start;
        align-items: center;
        gap: pxArem(15);
        padding: pxArem(3) 0 pxArem(2) pxArem(15);
        #searchIcon{
          width: pxArem(18);
        }
        @include movilS(){
          gap: pxArem(9);
        }
        @include movilM(){
          gap: pxArem(9);
        }
        @include movilL(){
          gap: pxArem(9);
        }
        @include tablet(){
          gap: pxArem(9);
        }
        @include laptop1024(){
          gap: pxArem(9);
        }
      }

      @include movilS(){
        padding: pxArem(3);
      }
      @include movilM(){
        padding: pxArem(3);
      }
      @include movilL(){
        padding: pxArem(3);
      }
      @include tablet(){
        padding: pxArem(3);
      }
      @include laptop1024(){
        padding: pxArem(3);
      }
    }

  &__s2{
    background-color: $secondary-color;
    position: relative;
    top: pxArem(6);
    color: white;
    width: 97%;
    height: 76.2vh; 
    border-radius: pxArem(3);
    margin: 0 auto;
    padding: 0 pxArem(3);
      
    &__1stcontainer{
      @include flexbox(row);
      justify-content: space-between;
      padding: pxArem(6) 0 pxArem(9) 0;
      #s2sc1{
        @include flexbox(row);
        align-items: center;
        gap: pxArem(6);
        padding: pxArem(3) 0 pxArem(2) pxArem(15);
        @extend %fontSize;
        font-weight: 600;
        #library {
          width: 18px;
          height: 18px;
        }
        @include movilS(){
          padding: 0 0 0 pxArem(6);
          font-size: 0.5rem;
        }
        @include movilM(){
          padding: 0 0 0 pxArem(6);
          font-size: 0.5rem;
        }
        @include movilL(){
          padding: 0 0 0 pxArem(6);
          font-size: 0.5rem;
        }
        @include tablet(){
          padding: 0 0 0 pxArem(6);
          font-size: 0.5rem;
        }
        @include laptop1024(){
          padding: 0 0 0 pxArem(6);
          font-size: 0.5rem;
        }
      }

      #s2sc2{
        @include flexbox(row);
        align-items: center;
        padding: pxArem(3) pxArem(15) pxArem(2) pxArem(15);

        #plus-icon{
          width: pxArem(18);
        }
        #plus-icon:hover{
          background-color: #232323;
          border-radius: 50%;
          cursor: pointer;
        }
        #arrow-icon{
          width: pxArem(18);
        }
        #arrow-icon:hover{
          background-color: #232323;
          border-radius: 50%;
          cursor: pointer;
        }
        @include movilS(){
          padding: 0 pxArem(6) 0 0;
        
        }
      }

      @include movilS(){
        padding: pxArem(6) 0 0 0;
        gap: pxArem(3);
      }

      @include movilM(){
        padding: pxArem(6) 0 0 0;
        gap: pxArem(3);
      }
      @include movilL(){
        padding: pxArem(6) 0 0 0;
        gap: pxArem(3);
      }
      @include tablet(){
        padding: pxArem(6) 0 0 0;
        gap: pxArem(3);
      }
      @include laptop1024(){
        padding: pxArem(6) 0 0 0;
        gap: pxArem(3);
      }
    }

    &__2ndcontainer{
      @include flexbox(row);
      align-items: center;
      gap: pxArem(6);
      font-size: clamp(0.3rem, 1vw, 0.65rem);
      padding: 0 0 0 pxArem(12); 

      #lsX{
        width: pxArem(21);
        height: pxArem(21);
        background-color: #232323;
        border-radius: 50%;
      }

      #lsX:hover{
        background-color:#232323;
        border-radius: 50%;
        cursor: pointer;
      }

      & p{
        background-color: white;
        color: $main-color;
        font-weight: 600;
        padding: pxArem(6) pxArem(9);
        border-radius: pxArem(12);
        @include movilS(){
          font-size: 0.47rem;
          padding: pxArem(3) pxArem(6);
        }
        @include movilM(){
          font-size: 0.47rem;
          padding: pxArem(3) pxArem(6);
        }
        @include movilL(){
          font-size: 0.47rem;
          padding: pxArem(3) pxArem(6);
        }
        @include tablet(){
          font-size: 0.47rem;
          padding: pxArem(3) pxArem(6);
        }
        @include laptop1024(){
          font-size: 0.47rem;
          padding: pxArem(3) pxArem(6);
        }
      }
      @include movilS(){
        padding: 0 0 0 pxArem(3);
      }
      @include movilM(){
        padding: 0 0 0 pxArem(3);
      }
      @include movilL(){
        padding: 0 0 0 pxArem(3);
      }
      @include tablet(){
        padding: 0 0 0 pxArem(3);
      }
      @include laptop1024(){
        padding: 0 0 0 pxArem(3);
      }
    }

    &__3rdcontainer{
      @include flexbox(row);
      align-items: center;
      justify-content: space-between;
      padding: pxArem(6) 0 pxArem(3) pxArem(16);
      font-size: clamp(0.3rem, 1vw, 0.65rem);
      
      #thirdcsearch{
        width: pxArem(15);
        height: pxArem(15);
        @include movilS(){
          position: relative;
          left: pxArem(6)
        }
        @include movilM(){
          position: relative;
          left: pxArem(6)
        }
        @include movilL(){
          position: relative;
          left: pxArem(6)
        }
        @include tablet(){
          position: relative;
          left: pxArem(6)
        }
        @include laptop1024(){
          position: relative;
          left: pxArem(6)
        }
      }

      #thirdcsc{
        
        @include flexbox(row);
        align-items: center;
        gap: pxArem(6);
        @include paddingElemRIGHTscreen();
        #list{
          width: pxArem(18);
        }
        @include movilS(){
          padding: 0;
          gap: pxArem(3);
        }
        @include movilM(){
          padding: 0;
          gap: pxArem(3);
        }
        @include movilL(){
          padding: 0;
          gap: pxArem(3);
        }
        @include tablet(){
          padding: 0;
          gap: pxArem(3);
        }
        @include laptop1024(){
          padding: 0;
          gap: pxArem(3);
        }
      }
      @include movilS(){
        padding: 0;
        font-size: 0.45rem;
      }
      @include movilM(){
        padding: 0;
        font-size: 0.45rem;
      }
      @include movilL(){
        padding: 0;
        font-size: 0.45rem;
      }
      @include tablet(){
        padding: 0;
        font-size: 0.45rem;
      }
      @include laptop1024(){
        padding: 0;
        font-size: 0.45rem;
      }
    }

    .artistas{
      
      
      .artista{
        @include flexbox(row);
        align-items: center;
        justify-content: flex-start;
        gap: pxArem(15);
        @extend %fontSize;
        font-weight: 600;
        padding: pxArem(3.5);
        & img{
          width: pxArem(30);
          height: pxArem(30);
          margin-left: pxArem(15);
          border-radius: 50%;
          @include movilS(){
            width: pxArem(18);
            height: pxArem(18);
            margin-left: pxArem(6);
          }
          @include movilM(){
            width: pxArem(18);
            height: pxArem(18);
            margin-left: pxArem(6);
          }
          @include movilL(){
            width: pxArem(18);
            height: pxArem(18);
            margin-left: pxArem(6);
          }
          @include tablet(){
            width: pxArem(18);
            height: pxArem(18);
            margin-left: pxArem(6);
          }
          @include laptop1024(){
            width: pxArem(18);
            height: pxArem(18);
            margin-left: pxArem(6);
          }
        }
        
        @include movilS(){
          
          padding: pxArem(4.8) 0;
          gap: pxArem(10);
          font-size: 0.48rem;
        }
        @include movilM(){
          
          padding: pxArem(4.8) 0;
          gap: pxArem(10);
          font-size: 0.48rem;
        }
        @include movilL(){
          
          padding: pxArem(4.8) 0;
          gap: pxArem(10);
          font-size: 0.48rem;
        }
        @include tablet(){
          
          padding: pxArem(4.8) 0;
          gap: pxArem(10);
          font-size: 0.48rem;
        }
        @include laptop1024(){
          
          padding: pxArem(4.8) 0;
          gap: pxArem(10);
          font-size: 0.48rem;
        }
      }

      .artista:nth-child(6){
        background-color: #232323;
        border-radius: pxArem(6);
        img[alt="volume"]{
          margin-left: pxArem(180);
          width: pxArem(18);
          height: pxArem(18);
          @include movilS(){
            width: pxArem(15);
            height: pxArem(15);
            margin-left: 0;
          }
          @include movilM(){
            width: pxArem(15);
            height: pxArem(15);
            margin-left: 0;
          }
          @include movilL(){
            width: pxArem(15);
            height: pxArem(15);
            margin-left: 0;
          }
          @include tablet(){
            width: pxArem(15);
            height: pxArem(15);
            margin-left: 0;
          }
          @include laptop1024(){
            width: pxArem(15);
            height: pxArem(15);
            margin-left: 0;
          }
        }
        
      }

      

      .artista:hover{
        background-color: #232323;
        border-radius: pxArem(6);
        cursor: pointer;
      }
    }

    @include tablet(){
      height: pxArem(421.3)
    }
  }
  
}

