.r-section{
    background-color: $main-color;
    height: 100%;
    &__s1{
        background-color: $secondary-color;
        width: 97%;
        margin: 0 auto;
        position: relative;
        top: 1%;
        border-radius: pxArem(3);
        &__container1{
            .c1__subcontainer{
                padding: pxArem(6) 0 pxArem(9) 0;
                @include flexbox(row);
                align-items: center;
                justify-content: space-between;
                color: white;
                @extend %fontSize;
                p{
                    padding: 0 0 0 pxArem(12);
                    font-weight: 600;
                }
                img[alt="rx"]{
                    width: pxArem(18);
                    height: pxArem(18);
                    margin-right: pxArem(9);
                }
            }
            img{
                display: block;
                width: 95%;
                height: pxArem(180);
                margin: 0 auto;
                object-fit: cover;
                @include tablet(){
                    height: pxArem(150);
                }
            }
        }

        &__container2{
            .c2__subcontainer1{
                @include flexbox(row);
                align-items: center;
                justify-content: space-between;
                color: white;
                padding: pxArem(15) 0 pxArem(15) pxArem(12);
                
                &__group1{
                    @include flexbox(column);
                    align-items: flex-start;
                    
                    & p:first-child{
                        font-size: clamp(0.8rem, 1.5vw, 1.5rem);
                        font-weight: 600;
                        
                    }
                    & p:last-child{
                        font-size: clamp(0.6rem, 1vw, 0.8rem);
                       
                    }
                }

                &__group2{
                    padding: 0 pxArem(9) 0 0;
                    img{
                        width: pxArem(18);
                        height: pxArem(18);
                       
                    }
                }
            }
        }
    }

    &__s2{
        background-color: $secondary-color;
        width: 97%;
        height: 44.4vh; /*CAMBIAR A MEDIDA REAL EN REM*/
        margin: 0 auto;
        
        
        &__container1{
            width: 95%;
            margin: 0 auto;
            @extend %fontSize;
            color: white;
            .c1__subcontainer1{
                border-radius: pxArem(12);
                
                width: 100%;
                height: pxArem(120);/*CAMBIAR*/
                background-image: url('../assets/img/members.jpg');
                background-size: cover;
                @extend %fontSize;
                p{
                    color: white;
                    font-weight: 600;
                    padding: pxArem(21) 0 0 pxArem(15);
                }
                @include tablet(){
                    height: pxArem(100);
                }
            }   

             .c1__subcontainer2{
                background-color: #242424;
                border-bottom-left-radius: pxArem(6) ;
                border-bottom-right-radius: pxArem(6);
                #sc2p1{
                    padding: pxArem(12) 0 pxArem(12) pxArem(12);
                    font-weight: 600;
                    @include movilS(){
                        padding: pxArem(6) 0 0 pxArem(12);
                    }
                    @include movilM(){
                        padding: pxArem(6) 0 0 pxArem(12);
                    }
                    @include movilL(){
                        padding: pxArem(6) 0 0 pxArem(12);
                    }
                    @include tablet(){
                        padding: pxArem(6) 0 0 pxArem(12);
                    }
                   
                }
                &__group1{
                    padding: 0 0 pxArem(12) pxArem(12);
                    @include flexbox(row);
                    align-items: center;
                    justify-content: space-between;
                    #sc2g1p1{
                        color: #939393;
                    }
                    #sc2g1p2{
                        position: relative;
                        right: pxArem(9);
                        border: pxArem(1) solid #939393;
                        padding: pxArem(5);
                        border-radius: pxArem(9);
                        @include tablet(){
                            padding: pxArem(3);
                            text-align: center;
                        }
                    }
                    @include movilS(){
                        padding: 0 0 pxArem(6) pxArem(12);
                    }
                    @include movilM(){
                        padding: 0 0 pxArem(6) pxArem(12);
                    }
                    @include movilL(){
                        padding: 0 0 pxArem(6) pxArem(12);
                    }
                    @include tablet(){
                        padding: 0 0 pxArem(6) pxArem(12);
                    }
                    
                }
                #sc2p2{
                    padding: 0 0 pxArem(9) pxArem(12);
                    font-size: 0.65rem;
                    color: #939393;
                    @include tablet(){
                        font-size: 0.5rem;
                    }
                }
             }
        }

       @include tablet(){
        height: pxArem(247.39);
       }
    }
    @include movilS(){
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        height: pxArem(623.42);
     }
     @include movilM(){
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        height: pxArem(623.42);
     }
     @include movilL(){
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        height: pxArem(623.42);
     }
     
}