.c-section__s2__container3 .song p, .c-section__s2__container1 p, .c-section__s1__container1 .subcontainer2__container1 {
  font-size: clamp(0.3rem, 1vw, 0.65rem);
}

.l-section {
  background-color: #000000;
  display: flex;
  flex-direction: column;
}
.l-section__s1 {
  background-color: #121212;
  border-radius: 0.75rem;
  font-size: clamp(0.65rem, 1vw, 0.3rem);
  font-weight: 600;
  color: white;
  width: 98%;
  position: relative;
  top: 1%;
  left: 1%;
  display: flex;
  flex-direction: column;
}
.l-section__s1 div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9375rem;
  padding: 0.1875rem 0 0.125rem 0.9375rem;
}
.l-section__s1 div:hover {
  background-color: #232323;
  border-radius: 0.75rem;
  cursor: pointer;
}
.l-section__s1 box-icon {
  width: 18px;
  height: 18px;
}
.l-section__s2 {
  background-color: #121212;
  color: white;
  width: 98%;
  border-radius: 0.75rem;
  position: relative;
  top: 2%;
  left: 1%;
}
.l-section__s2 div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.l-section__s2 div:nth-child(1) div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.375rem;
  padding: 0.1875rem 0 0.125rem 0.9375rem;
  font-size: clamp(0.3rem, 1vw, 0.65rem);
  font-weight: 600;
}
.l-section__s2 div:nth-child(1) div:nth-child(1) box-icon {
  width: 18px;
  height: 18px;
}
.l-section__s2 div:nth-child(1) div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.1875rem 0.9375rem 0.125rem 0.9375rem;
}
.l-section__s2 div:nth-child(1) div:nth-child(2) #plus-icon:hover {
  background-color: #232323;
  border-radius: 50%;
  cursor: pointer;
}
.l-section__s2 div:nth-child(1) div:nth-child(2) #arrow-icon:hover {
  background-color: #232323;
  border-radius: 50%;
  cursor: pointer;
}
.l-section__s2__2ndcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.375rem;
  font-size: clamp(0.3rem, 1vw, 0.65rem);
  padding-left: 0.9375rem;
}
.l-section__s2__2ndcontainer box-icon {
  width: 1.125rem;
  height: 1.125rem;
}
.l-section__s2__2ndcontainer box-icon:hover {
  background-color: #232323;
  border-radius: 50%;
  cursor: pointer;
}
.l-section__s2__2ndcontainer p {
  background-color: white;
  color: #000000;
  font-weight: 600;
  padding: 0.1875rem 0.375rem;
  border-radius: 0.75rem;
}
.l-section__s2__3rdcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.9375rem;
  font-size: clamp(0.3rem, 1vw, 0.65rem);
}
.l-section__s2__3rdcontainer box-icon {
  width: 0.9375rem;
  height: 0.9375rem;
}
.l-section__s2__3rdcontainer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.375rem;
  padding: 0.1875rem 0.9375rem 0.125rem 0.9375rem;
}
.l-section__s2 .artistas .artista {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.9375rem;
  font-size: clamp(0.3rem, 1vw, 0.65rem);
  font-weight: 600;
  padding: 0.0625rem;
}
.l-section__s2 .artistas .artista img {
  width: 1.625rem;
  height: 1.625rem;
  margin-left: 0.9375rem;
  border-radius: 50%;
}
.l-section__s2 .artistas .artista:hover {
  background-color: #232323;
  border-radius: 0.75rem;
  cursor: pointer;
}

.c-section {
  height: 100%;
  overflow: hidden;
}
.c-section__s1__container1 {
  width: 100%;
  height: 18.75rem;
  background-image: url("../assets/img/slipknot3.jpg");
  background-size: 100% 18.75rem;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 1fr 1fr;
}
.c-section__s1__container1 .subcontainer1 {
  height: 1.6875rem;
  padding: 0.1875rem 0 0.125rem 0.9375rem;
}
.c-section__s1__container1 .subcontainer1 box-icon {
  background-color: #4D545A;
  border-radius: 50%;
  opacity: 0.8;
}
.c-section__s1__container1 .subcontainer1 box-icon:hover {
  opacity: 0.9;
  cursor: pointer;
}
.c-section__s1__container1 .subcontainer2 {
  height: 1.6875rem;
  padding: 0.1875rem 0.9375rem 0.125rem 0.9375rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5625rem;
}
.c-section__s1__container1 .subcontainer2__container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.1875rem;
  color: white;
  background-color: #4D545A;
  border-radius: 0.75rem;
  padding: 0 0.625rem;
  opacity: 0.8;
}
.c-section__s1__container1 .subcontainer2__container1 box-icon {
  width: 1.125rem;
  height: 1.125rem;
}
.c-section__s1__container1 .subcontainer2__container1:hover {
  opacity: 0.9;
  color: white;
  cursor: pointer;
}
.c-section__s1__container1 .subcontainer2__container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5625rem;
}
.c-section__s1__container1 .subcontainer2__container2 box-icon {
  background-color: #4D545A;
  border-radius: 50%;
  opacity: 0.8;
  border: 0.1875rem solid #4D545A;
  width: 1.6875rem;
  height: 1.6875rem;
}
.c-section__s1__container1 .subcontainer2__container2 box-icon:hover {
  opacity: 0.9;
  cursor: pointer;
}
.c-section__s1__container1 .subcontainer2__container2 img {
  width: 1.3125rem;
  height: 1.3125rem;
  border-radius: 50%;
  border: 0.1875rem solid #4D545A;
}
.c-section__s1__container1 .subcontainer2__container2 img:hover {
  opacity: 0.9;
  cursor: pointer;
}
.c-section__s1__container1 .subcontainer3 {
  color: white;
}
.c-section__s1__container1 .subcontainer3__container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.1875rem;
  font-size: clamp(0.3rem, 1vw, 0.7rem);
  padding: 0.1875rem 0 0.125rem 0.9375rem;
}
.c-section__s1__container1 .subcontainer3 h1 {
  font-size: 5.5rem;
  padding: 0.1875rem 0 0.125rem 0.9375rem;
  margin: 0;
}
.c-section__s1__container1 .subcontainer3 h5 {
  padding: 0.1875rem 0 0.125rem 0.9375rem;
  margin: 0 0 1.125rem 0;
}
.c-section__s2 {
  height: 18.75rem; /*corregir y fusionar seccion central con reproductor y hacer lo mismo con las otras*/
  background: linear-gradient(#314051, #121212 15%);
}
.c-section__s2__container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.125rem;
  padding: 0.1875rem 0 0.125rem 0.9375rem;
}
.c-section__s2__container1 #pauseBtn {
  width: 2.0625rem;
  height: 2.0625rem;
  padding: 0.1875rem;
  background-color: #1ED760;
  border-radius: 50%;
}
.c-section__s2__container1 p {
  border: 0.0625rem solid white;
  padding: 0.375rem;
  color: white;
  border-radius: 0.9375rem;
  font-weight: bold;
}
.c-section__s2__container2 h4 {
  color: white;
  margin: 0 0 0.1875rem 0.9375rem;
}
.c-section__s2__container3 {
  color: white;
}
.c-section__s2__container3 .song {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5% 5% 50% 30% 10%;
  align-items: center;
}
.c-section__s2__container3 .song box-icon {
  width: 1.125rem;
  height: 1.125rem;
}
.c-section__s2__container3 .song img {
  width: 1.3125rem;
  height: 1.3125rem;
  border-radius: 0.1875rem;
}
.c-section__s2__container3 .song p {
  font-weight: bold;
  padding-left: 0.375rem;
}
.c-section__s2__container3 .song__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.c-section__s2__container3 .song__container box-icon {
  margin-right: 0.5625rem;
  padding: 0.0625rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  height: 90vh;
}

.r-section {
  background-color: green;
}

.d-section {
  background-color: yellow;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}/*# sourceMappingURL=style.css.map */