@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';

@import 'layout/l-section';
@import 'layout/c-section';


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;  
}

main{
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    height: 90vh;
}





.r-section{
    background-color: green ;
}

.d-section{
    background-color: yellow;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 50% 1fr;;
}