@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';

@import 'layout/l-section';
@import 'layout/c-section';
@import 'layout/r-section';
@import 'layout/d-section';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;  
}


main{
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    height: 90vh;
    @include movilS(){
        grid-template-columns: 35% 65%;
        grid-template-rows: 1fr 1fr;
        
    }
    @include movilM(){
        grid-template-columns: 35% 65%;
        grid-template-rows: 1fr 1fr;
        
    }
    @include movilL(){
        grid-template-columns: 35% 65%;
        grid-template-rows: 1fr 1fr;
        
    }
    
}


